menu "userspace"

config KEYLOG_ENABLE
    bool "keylog"

if KEYLOG_ENABLE

config KEYLOG_SIZE
    int "maximum keylog length"
    default 70

endif

menuconfig SIPO_PINS_ENABLE
    bool "sipo pins"

if SIPO_PINS_ENABLE

config N_SIPO_PINS
    int "number of outputs"

endif # sipo

config BUILD_INFO
    bool "codegen enabled features"
    default n

rsource "src/logging/Kconfig"

if QUANTUM_PAINTER_ENABLE
rsource "src/qp/Kconfig"
endif

rsource "src/touch/Kconfig"

endmenu
