menuconfig SIPO_PINS_ENABLE
    bool "sipo pins"

if SIPO_PINS_ENABLE
    config N_SIPO_PINS
        int "number of outputs"
endif

config AUTOCONF_FW_CHECK
    bool "only draw autoconf settings when new fw is flashed"
    default "n"

rsource "src/logging/Kconfig"

if QUANTUM_PAINTER_ENABLE
    menu "quantum painter"
       rsource "src/qp/Kconfig"
    endmenu
endif

rsource "src/touch/Kconfig"
