[submodule "modules/elpekenin"]
	path = modules/elpekenin
	url = https://github.com/elpekenin/qmk_modules
[submodule "modules/drashna"]
	path = modules/drashna
	url = https://github.com/drashna/qmk_modules
