config QP_TASK_COMPUTER_STATS_ENABLE
    bool "computer stats"

if QP_TASK_COMPUTER_STATS_ENABLE
    config QP_TASK_COMPUTER_STATS_REDRAW_INTERVAL
        int "draw interval (ms)"

    config QP_TASK_COMPUTER_STATS_SIZE
        int "size of array tracking computer usage stats"

    config QP_TASK_COMPUTER_STATS_TIMEOUT
        int "timeout before removing graph (ms)"
endif # computer stats


config QP_TASK_GITHUB_NOTIFICATIONS_ENABLE
    bool "github notifications"

if QP_TASK_GITHUB_NOTIFICATIONS_ENABLE
    config QP_TASK_GITHUB_NOTIFICATIONS_REDRAW_INTERVAL
        int "draw interval (ms)"

    config QP_TASK_GITHUB_NOTIFICATIONS_TIMEOUT
        int "timeout before removing count"
endif # github notifications


config QP_TASK_HEAP_STATS_ENABLE
    bool "heap stats"

if QP_TASK_HEAP_STATS_ENABLE
    config QP_TASK_HEAP_STATS_REDRAW_INTERVAL
        int "draw interval (ms)"
endif # heap stats


config QP_TASK_KEYLOG_ENABLE
    bool "keylog"

if QP_TASK_KEYLOG_ENABLE
    config QP_TASK_KEYLOG_REDRAW_INTERVAL
        int "draw interval (ms)"
endif # keylog


config QP_TASK_LAYER_ENABLE
    bool "layer"

if QP_TASK_LAYER_ENABLE
    config QP_TASK_LAYER_REDRAW_INTERVAL
        int "draw interval (ms)"
endif # layer


config QP_TASK_LOGGING_ENABLE
    bool "logging"

if QP_TASK_LOGGING_ENABLE
    config QP_TASK_LOGGING_REDRAW_INTERVAL
        int "draw interval (ms)"
endif # logging


config QP_TASK_UPTIME_ENABLE
    bool "uptime"
