menu "logging"

if QUANTUM_PAINTER_ENABLE
    menuconfig QP_LOG_ENABLE
        bool "quantum painter"

    if QP_LOG_ENABLE
        config QP_LOG_N_CHARS
            int "size of array storing each line"

        config QP_LOG_N_LINES
            int "lines stored"
    endif
endif


menuconfig SPLIT_LOG_ENABLE
    bool "split"

if SPLIT_LOG_ENABLE
    config SPLIT_LOG_BUFFER_SIZE
        int "size of ring buffer"

    config SPLIT_LOG_SYNC_DELAY
        int "delay before first sync (ms)"

    config SPLIT_LOG_SYNC_INTERVAL
        int "sync interval (ms)"
endif


if UART_DRIVER_REQUIRED
    menuconfig UART_LOG_ENABLE
        bool "uart"

    if UART_LOG_ENABLE
        config UART_LOG_BAUD_RATE
            int "baud rate"

        # must be kept in sync with `uart_client_t`
        config UART_CLIENT
            int
            default 0 if UART_CLIENT_NONE
            default 1 if UART_CLIENT_PUTTY

        choice
            prompt "client software"
            config UART_CLIENT_NONE
                bool "none"

            config UART_CLIENT_PUTTY
                bool "PuTTY"
        endchoice
    endif
endif


if XAP_ENABLE
    menuconfig XAP_LOG_ENABLE
        bool "xap"

    if XAP_LOG_ENABLE
        config XAP_LOG_BUFFER_SIZE
            int "size of ring buffer"
    endif
endif

endmenu
