if XAP_ENABLE
    menu "computer stats"
        config COMPUTER_STATS_SIZE
            int "size of array"
            default 30

        config COMPUTER_STATS_UI_REDRAW_INTERVAL
            int "draw interval (ms)"
            default 500

        config COMPUTER_STATS_UI_TIMEOUT
            int "timeout before removing (ms)"
            default 5000
    endmenu
endif

menu "build match"
    config BUILD_MATCH_UI_REDRAW_INTERVAL
        int "id sync draw interval (ms)"
        default 500
        # depends on SPLIT_ENABLE
endmenu

if XAP_ENABLE
    menu "github notifications"
        config GITHUB_NOTIFICATIONS_UI_REDRAW_INTERVAL
            int "draw interval (ms)"
            default 500

        config GITHUB_NOTIFICATIONS_UI_TIMEOUT
            int "timeout before removing (ms)"
            default 5000
    endmenu
endif
