name: Build vs latest QMK

env:
  QMK_HOME: ~/workspace/qmk_firmware
  COMPILEDB: ""  # do not generate compiledb in CICD

on:
  # every 5 days
  schedule:
    - cron: "0 0 */5 * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/qmk/qmk_cli:latest

    steps:
      - name: Disable safe.directory check
        run: git config --global --add safe.directory '*'

      - name: Copy code to container
        uses: actions/checkout@v4

      - name: git credentials
        run: |
          git config --global user.name elpekenin-ci
          git config --global user.email github-ci@elpekenin.dev

      - name: qmk config
        run: qmk config compile.parallel=20

      - name: Show environment info
        run: |
          echo -n "    distro: " && uname -a || true
          echo -n "       pip: " && pip -V || true
          echo -n "       qmk: " && qmk -V || true
          echo -n "qmk config: " && qmk config || true

      - name: Install and run build command
        run: |
          pip install .
          euc build
